@import "../../node_modules/normalize.css/normalize.css"

@font-face
   font-family Cocogoose
   font-style bold
   src url(/assets/Cocogoose.otf)
  
@font-face
   font-family NexaLight
   font-style light
   src url(/assets/NexaLight.otf)
   
@font-face
   font-family PreloBold
   font-style bold
   src url(/assets/PreloBold.otf)
  
@font-face
   font-family PreloBook
   font-style light
   src url(/assets/PreloBook.otf)
 
$amarillo = #f7e02c
$morado = #762b82
$gris = #afb0b7

body
	font-family: NexaLight
	margin: 0
	padding: 0

h2
	font-family: Cocogoose
	font-size: 3.5rem
h4
	font-family: Cocogoose
hr
	box-shadow none
	text-shadow none
.contact
	padding: 1em 5vw
	display flex
	background-color: $morado
	justify-content space-between
	align-items center
	a
		font-size: .7rem
		font-family: "Cocogoose"
		color white
		text-decoration: none
	ul
		width: 35%
		display flex
		justify-content space-between
		padding 0
		margin: 0
		li
			font-size: 1.3rem
			color $amarillo
			display flex
			margin: 0
			padding 0
			
@media (min-width: 375px)
	.contact
		ul
			li
				font-size: 1.8rem
	
.header
	min-height: 30em
	background-color: #01eff9
	//background-image: url("/assets/slide1.png")
	background-size: cover
	background-position: 27% center
	position: relative
	&__female
		display none
		width: 100%
		img
			width 100%
@media (min-width: 425px)
	.header
		min-height: auto
		&__female
			display block

.nav
	position: absolute
	right: 1.5rem
	top 1.5rem
	text-align: right
	&::before
		border-radius: 50%
		text-align: center
		content '\f0c9'
		font-size: 2.5em
		color $amarillo
		font-family: 'FontAwesome'
	ul
		margin: 0
		transition all .3s ease
		height 0
		list-style-type: none
		overflow: hidden
		font-family: PreloBook
	&-show
		ul
			height 10rem
.logo
	width: 100%
	height: 30em
	display flex
	justify-content center
	align-items center
	img
		width: 80vw
		
@media (min-width: 375px)
	.logo
		img
			width: 60vw
@media (min-width: 375px)
	.logo
		left: .5rem
		top .5rem
		height: auto
		width: auto
		position: absolute
		img
			width: 5rem
.promo
	&__item
		font-family: Cocogoose
		font-size: 2rem
		&:nth-child(1)
			background-color: #a4006c
			color $amarillo
		&:nth-child(2)
			font-size: 3rem
			text-align: center			
			background-color: $amarillo
			color #a4006c
			line-height: 3.5rem
		&__expertas
			padding 0 1rem
			color $amarillo
			background-color: $morado
		&:nth-child(3)
			background-color: $gris
			color $morado
	&__precio
		color white
		font-size: 4.5rem
		text-align: center
	&__todo
		color white
		font-size: 1.4rem
	ul
		font-size: 1.5rem
		margin: 1rem 0
		padding-left 2rem
		list-style-type: none
		font-family: PreloBold
	h4
		margin: 1rem 0
.about-1
	display flex
	flex-direction column
	align-items stretch
	&__info
		order 2
		text-align: center
		h2
			color $morado
		p
			font-size: 1.5rem
	&__img
		order 1
		img
			width: 100%
	&__icon
		display flex
		justify-content center
		align-items center
		color $amarillo
		font-size: 3rem
		&__text
			font-family: Cocogoose
			padding 0 .5rem
			font-size: .8rem
			text-align: left
			&:first-line
				font-size: 1.2rem
.formula1
	text-align: center
	&__img
		background: linear-gradient(180deg, #FFF 50%, $amarillo 50%)
		img
			width: 100%
	&__info
		background-color: $morado
		color white
		h2
			margin: .5em 0
			display inline-block
			font-size: 6rem
			&::before
				text-align: right
				font-size: 1.5rem
				content "Fórmula"
				display block
				color $amarillo
		p
			font-size: 1.5rem
			line-height: 1.5em
			margin: 0
.formula2
	text-align: center
	background-color: $amarillo
	font-size: 1.7rem
	color $morado
	font-family: Cocogoose
	span
		letter-spacing 3px
		&:nth-child(1)
			&::before
				content '\f07a'
				font-family: FontAwesome
				display block
				font-size: 7rem
		&::after
			content '\f054'
			font-family: FontAwesome
			font-size: 1rem
			padding 0 .3rem
		&:nth-child(4)
			&::after
				content ''
.about-2
	text-align: center
	&__img img
		width 100%
	&__info
		font-size: 1.5rem
		&::before
			content '¡Cuenta con nosotros!'
			font-family: Cocogoose
			font-size: 3rem
			color $morado
			display block
			margin-bottom 1.5rem
			
.portafolio
	&__title
		color white
		background-color: $morado
		text-align: center
		h2
			margin: 0
			font-size: 2.5rem
			position: relative
			line-height: 4rem
			/*&::before
				content '\f067'
				font-family: FontAwesome
				font-size: 2rem
				position: absolute
				top -1rem
				left 1rem*/
				

				
.form
	background-color: $amarillo
	&__label
		color white
		text-align: center
		h2
			margin: 0
			font-size: 2.5rem
			position: relative
			line-height: 6rem
			/*&::before
				content '\f067'
				font-family: FontAwesome
				font-size: 2rem
				position: absolute
				top -1rem
				left 2rem*/
	&__caja
		margin: .5rem 0
		background none
		width: 100%
		padding 1rem
		border 1px solid black
		box-sizing: border-box
	&__submit
		text-align: center
		a
			color $morado
			font-family: Cocogoose
			text-decoration: none
			font-size: .8rem
		input
			background-color: $morado
			color white
			padding .7rem
			text-align: center
			border none
.map
	width 100%
	filter: grayscale(100%)
	iframe
		width 100%
		height 20em
.footer
	font-family: Cocogoose
	text-align: center
	background-color: #2c2b25
	&__logo img
		width 10rem
	a
		color $amarillo
		text-decoration: none
		display block
		margin 1rem 0
	span
		display block
		margin: 1rem 0
		color $amarillo
		
.copy
	background-color: #21221c
	text-align: center
	color white
	font-family: Cocogoose
	
.section
	padding 3rem 5vw

@media (min-width: 425px)
	.section
		padding 3rem 20vw

.grid
	min-width: 100%
	overflow: hidden
	img
		width: 100%
		object-fit: cover
	&__row
		display flex
		flex-direction row
		flex-basis: 100%
	&__col
		flex-basis 33.33vw
		height: 100vw
		display flex
		flex-direction column
	&__item1
		height: 33.33vw
		flex-basis 33.3%
		background-color: $morado
	&__item2
		flex-basis: 33.33%
		background-color: $morado
	&__item1of3
		background-color: $morado
	&__item1of3
		background-color: $morado