@import "../../node_modules/normalize.css/normalize.css"

@font-face
   font-family Cocogoose
   font-style bold
   src url(/assets/Cocogoose.otf)

@font-face
   font-family NexaLight
   font-style light
   src url(/assets/NexaLight.otf)

@font-face
   font-family PreloBold
   font-style bold
   src url(/assets/PreloBold.otf)

@font-face
   font-family PreloBook
   font-style light
   src url(/assets/PreloBook.otf)

$amarillo = #f7e02c
$morado = #762b82
$gris = #afb0b7

body
	font-family: NexaLight
	margin: 0
	padding: 0

h2
	font-family: Cocogoose
	font-size: 3.5rem
h4
	font-family: Cocogoose
hr
	box-shadow none
	text-shadow none
.contact
	padding: .5em 5vw
	display flex
	background-color: $morado
	justify-content space-between
	align-items center
	a
		font-size: .7rem
		font-family: "Cocogoose"
		color white
		text-decoration: none
	ul
		width: 35%
		display flex
		justify-content space-between
		padding 0
		margin: 0
		li
			font-size: 1.3rem
			color $amarillo
			display flex
			margin: 0
			padding 0

@media (min-width: 425px)
	.contact
		padding .5rem 5vw
		ul
			width: 9rem
			li
				font-size: 1.8rem

@media (min-width: 768px)
	.contact
		padding .5rem 20vw

.header
	min-height: 30em
	background-color: #00e8ef
	//background-image: url("/assets/slide1.png")
	background-size: cover
	background-position: 27% center
	position: relative
	&__female
		display none
		align-items center
		justify-content center
		width: 100%
		text-align: center
		img
			width 80%
			margin-bottom: -8%
@media (min-width: 768px)
	.header
		min-height: auto
		&__female
			display block

.nav
	position: absolute
	right: 1.5rem
	top 1.5rem
	text-align: right
	&::before
		border-radius: 50%
		text-align: center
		content '\f0c9'
		font-size: 2.5em
		color $amarillo
		font-family: 'FontAwesome'
	ul
		margin: 0
		transition all .3s ease
		height 0
		list-style-type: none
		overflow: hidden
		font-family: PreloBook
	&-show
		ul
			height 10rem

@media (min-width: 768px)
	.nav
		right 4rem
@media (min-width: 1024px)
	.nav
		right: 8rem
@media (min-width: 1440px)
	.nav
		right: 20vw
.logo
	width: 100%
	height: 30em
	display flex
	justify-content center
	align-items center
	img
		width: 80vw

@media (min-width: 375px)
	.logo
		img
			width: 60vw
@media (min-width: 768px)
	.logo
		left: 4rem
		top .5rem
		height: auto
		width: auto
		position: absolute
		img
			width: 5rem
@media (min-width: 1024px)
	.logo
		left: 8rem
		img
			width: 10rem
@media (min-width: 1440px)
	.logo
		left: 20vw
.promo
	&__item
		font-family: Cocogoose
		font-size: 2rem
		&:nth-child(1)
			background-color: #a4006c
			color $amarillo
		&:nth-child(2)
			font-size: 3rem
			text-align: center
			background-color: $amarillo
			color #a4006c
			line-height: 3.5rem
		&__expertas
			padding 0 1rem
			color $amarillo
			background-color: $morado
		&:nth-child(3)
			background-color: $gris
			color $morado
	&__precio
		color white
		font-size: 4.5rem
		text-align: center
	&__todo
		color white
		font-size: 1.4rem
	ul
		font-size: 1.5rem
		margin: 1rem 0
		padding-left 2rem
		list-style-type: none
		font-family: PreloBold
	h4
		margin: 1rem 0

@media (min-width:768px)
	.promo
		display flex
		flex-direction row
		justify-content center
		&__item
			width: 13rem
			height: 20rem
			margin .7rem
			padding 1rem !important
			&:nth-child(1)
				margin-top 2rem
			&:nth-child(2)
				display flex
				align-items center
				line-height: 2.5rem
				font-size: 2rem
				margin-top 1rem
			&:nth-child(3)
				margin-top 2rem

		&__todo
			font-size: 1.2rem
		&__precio
			font-size: 4rem
		ul
			font-size: 1.2rem
			padding-left .5rem
		h4
			font-size: 1.5rem
.about-1
	display flex
	flex-direction column
	align-items stretch
	&__info
		order 2
		text-align: center
		h2
			color $morado
			margin 1rem 0
		p
			font-size: 1.5rem
	&__img
		order 1
		img
			width: 100%
	&__icon
		display flex
		justify-content center
		align-items center
		color $amarillo
		font-size: 3rem
		&__text
			font-family: Cocogoose
			padding 0 .5rem
			font-size: .8rem
			text-align: left
			&:first-line
				font-size: 1.2rem
@media (min-width: 768px)
	.about-1
		flex-direction row-reverse
		align-items center
		&__info
			flex-basis 50%
			text-align: left
			p
				font-size: .9rem
		&__img
			box-sizing: border-box
			margin-right -3rem
.formula1
	text-align: center
	background-color: $morado
	&__img
		background: linear-gradient(180deg, #FFF 50%, $amarillo 50%)
		img
			width: 100%
	&__info
		background-color: none
		color white
		h2
			margin: .5rem 0
			display inline-block
			font-size: 6rem
			&::before
				text-align: right
				font-size: 1.5rem
				content "Fórmula"
				display block
				color $amarillo
		p
			font-size: 1.5rem
			line-height: 1.5em
			margin: 0
@media (min-width: 768px)
	.formula1
		background-color: $morado
		display flex
		align-items center
		justify-content center
		padding 2rem 20vw
		text-align: right
		h2
			font-size: 6rem
		p
			font-size: 1rem
		&__img
			padding 0 !important
			background: none
			flex-basis 40%
		&__info
			flex-basis 60%
			padding 0 !important
@media (min-width: 1024px)
	.formula1
		background-color: $amarillo
		h2
			color $morado
			font-size: 11rem
			&:before
				color #5d5d5d
		p
			font-size: 1rem
			color #5d5d5d
.formula2
	padding 3rem 10vw
	text-align: center
	background-color: $amarillo
	font-size: 1.7rem
	color $morado
	font-family: Cocogoose
	span
		letter-spacing 3px
		&:nth-child(1)
			&::before
				content '\f07a'
				font-family: FontAwesome
				display block
				font-size: 7rem
		&::after
			content '\f054'
			font-family: FontAwesome
			font-size: 1rem
			padding 0 .3rem
		&:nth-child(4)
			&::after
				content ''
@media (min-width: 1024px)
	.formula2
		display flex
		padding 1rem 10vw
		background-color: $morado
		color $amarillo
		font-size: 1.3rem
		justify-content center
		span
			&:nth-child(1)
				display block
				&::before
					content ''
			&:after
				font-size: .9rem
			&:nth-child(4)
				&::after
					content '\f07a'
					font-family: FontAwesome
					display inline
					font-size: 1.4rem
					transform scale(1.3,3)
.about-2
	text-align: center
	background-image url('/assets/icono-trama.svg')
	background-size: 9rem 9rem
	&__img img
		width 50%
		margin: 0 2rem
	&__info
		font-size: 1.3rem
		&::before
			content '¡Cuenta con nosotros!'
			font-family: Cocogoose
			font-size: 2.3rem
			color $morado
			display block
			margin-bottom 1.5rem
@media (min-width: 768px)
	.about-2
		display flex
		flex-direction row-reverse
		align-items center
		justify-content center
		&__info
			width: 20rem
			text-align: right
		&__img img
			width 15rem
.portafolio
	&__title
		color $amarillo
		background-color: $morado
		text-align: center
		h2
			margin: 0
			font-size: 2.5rem
			position: relative
			line-height: 4rem
			/*&::before
				content '\f067'
				font-family: FontAwesome
				font-size: 2rem
				position: absolute
				top -1rem
				left 1rem*/



.form
	background-color: $amarillo
	&__label
		color white
		text-align: center
		h2
			margin: 0
			font-size: 2.5rem
			position: relative
			line-height: 6rem
			/*&::before
				content '\f067'
				font-family: FontAwesome
				font-size: 2rem
				position: absolute
				top -1rem
				left 2rem*/
	&__caja
		margin: .3rem 0
		background none
		width: 100%
		padding 1.5rem 1rem
		border 1px solid black
		box-sizing: border-box
		border-radius: .5rem
		&:focus
			outline: none
	&__submit
		margin-top: 1rem
		text-align: center
		a
			color $morado
			font-family: Cocogoose
			text-decoration: none
			font-size: .8rem
			span
				color black
		input
			background-color: $morado
			color white
			font-family: Cocogoose
			padding .7rem
			text-align: center
			border none
@media (min-width: 1024px)
	.form
		text-align: right
		&__row
			display flex
		&__caja
			margin .3rem .3rem
		&__submit
			text-align: right
.map
	width 100%
	filter: grayscale(100%)
	iframe
		width 100%
		height 20em
.footer
	padding 3rem 5vw
	font-family: Cocogoose
	text-align: center
	background-color: #2c2b25
	&__logo img
		width 10rem
	a
		color $amarillo
		text-decoration: none
		display block
		margin 1rem 0
		order 3
	span
		display block
		margin: 1rem 0
		color $amarillo
@media (min-width: 768px)
	.footer
		font-size: .8rem
		display flex
		justify-content space-around
		align-items center
		&__logo
			order 2
			img
				width: 7rem
		&__contact
			text-align: left
.copy
	background-color: #21221c
	text-align: center
	color white
	font-family: Cocogoose

.section
	padding 3rem 5vw

@media (min-width: 425px)
	.section
		padding 3rem 15vw

@media (min-width: 768px)
	.section
		padding 3rem 20vw
@media (min-width: 1024px)
	.section
		padding 3rem 22vw
.grid
	overflow: hidden
	position: relative
	img
		width: 100%
		height: 100%
		object-fit: cover
		object-position 50% 50%
		cursor: zoom-in
	&__row
		display flex
		flex-direction row
		height: 33.33vw
	&__row-col
		display flex
		flex-direction row
	&__col
		flex-basis 33.33vw
		height: 100vw
		display flex
		flex-direction column
	&__item1
		margin 1px
		overflow: hidden
		flex-basis 33.333%
	&__item2
		margin 1px
		overflow: hidden
		flex-basis 66.666%
	&__mas
		display none
		position: absolute
		top: 40%
@media (min-width: 425px)
	.grid
		padding 1rem 1vw
		&__col
			height: 98vw
		&__row
			height: 32.66vw
		&__item1
			margin 3px
		&__item2
			margin 3px

@media (min-width: 768px)
	.grid
		padding 1rem 16vw
		&__col
			height: 69vw
		&__row
			height: 23vw
		&__item1
			margin 4px
		&__item2
			margin 4px
		&__mas
			display block
			right 1vw
			img
				width: 90px
@media (min-width: 1024px)
	.grid
		padding 1rem 25vw
		&__col
			height: 45vw
		&__row
			height: 15vw
		&__item1
			margin 6px
		&__item2
			margin 6px
		&__mas
			display block
			right 8vw
			img
				width: 120px

@media (min-width: 1425px)
	.grid
		&__mas
			display block
			right 10vw
			img
				width: 200px
				
.modal
	position: fixed
	top 0
	bottom 0
	right 0
	left 0
	background-color rgba(0, 0, 0, .6)
	display none
	flex-direction column
	justify-content center
	align-items center
	z-index: 100
	&__close
		color #DDD
		font-size: 3em
		position: absolute
		right 5%
		top 5%
		cursor: pointer
		padding 1em
		line-height: 0
		font-weight bold
		&:hover
			color #FFF
	&__content
		border 4px solid #fff
		min-height 50%