<!doctype html>
<html class="no-js" lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>ShopDesign Perú</title>
        <meta name="description" content="Ideas frescas">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="stylesheet" href="/css/main.css">
        <meta name="theme-color" content="#f7e02c">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!--BODY-->
        <div class="contact">
          <a href="mailto:escribenos@shopdesign.com">escribenos@shopdesign.com</a>
          <ul>
            <li><a href="#"><img class="contact__icono" src="/assets/iconos/elementos-02.svg" alt=""></a></li>
            <li><a href="#"><img class="contact__icono" src="/assets/iconos/elementos-05.svg" alt=""></a></li>
            <li><a href="#"><img class="contact__icono" src="/assets/iconos/elementos-07.svg" alt=""></a></li>
            <li><a href="#"><img class="contact__icono" src="/assets/iconos/elementos-09.svg" alt=""></a></li>
          </ul>
        </div>

        <header class="header">
          <nav class="nav">
            <ul>
              <li>ideas</li>
              <li>formula</li>
              <li>portafolio</li>
              <li>contacto</li>
            </ul>
          </nav>
          <div class="logo">
            <img src="/assets/logo.png" alt="Logo shopdesign" class="logo--header">
          </div>
          <div class="header__female-movil">
            <img src="/assets/iconos/chica.png">
          </div>
          <div class="header__female">
            <img src="/assets/slide/chica.png">
          </div>
        </header>

        <div class="promo">
          <div class="promo__item section">
            <h4>Empieza ya!</h4>
            <ul>
              <li>Branding</li>
              <li>Logotipo</li>
              <li>Tarjetas</li>
              <li>Hoja menbretada</li>
              <li>5 firmas</li>
            </ul>
            <div class="promo__todo"><span>Todo por:</span></div>
            <div class="promo__precio">s/299</div>
          </div>
          <div class="promo__item section">
            <span>Tu branding en manos<br> <span class="promo__item__expertas"> expertas </span></span>
          </div>
          <div class="promo__item section">
            <h4>¡Renuevate!</h4>
            <ul>
              <li>Creacion de</li>
              <li>Fanpage</li>
              <li>Foto perfil</li>
              <li>Foto portada</li>
              <li>4 post y 1 gif</li>
            </ul>
            <div class="promo__todo"><span>Todo por:</span></div>
            <div class="promo__precio">s/299</div>
            </div>
        </div>

        <div class="about-1 section">
          <div class="about-1__info">
            <h2>ideas frescas</h2>
            <div class="about-1__icon"><i class="fa fa-heart" aria-hidden="true"></i><span class="about-1__icon__text">1020<br>corazón</span>|<i class="fa fa-coffee" aria-hidden="true"></i><span class="about-1__icon__text">360<br>tazas de café</span></div>
            <p>
              Shop Design, somos una agencia hecha a la medida de tus necesidades, que cuenta con un equipo de creativos publicistas y diseñadores, con una visión muy clara de como debe ser la comunicación; directa, fresca, creativa, eficaz y rentable en función a las necesidades de tu proyecto.
            </p>
          </div>
          <div class="about-1__img">
            <img src="/assets/iconos/elementos-13.svg" alt="IdeasFrescas">
          </div>
        </div>

        <div class="formula1">
          <div class="formula1__img section">
            <img src="/assets/slide/polo.png" alt="">
          </div>
            <div class="formula1__info__sale">
              <h2>sale</h2>
            </div>
          <div class="formula1__info section">
            <p>
              Sabemos muy bien lo que buscas para tu negocio, asi que, sea cual sea tu proyecto en Shop Design siempre aplicamos nuestra fórmula.
            </p>
          </div>
        </div>

        <div class="formula2">
          <span>Direfenciar</span>
          <span>Atraer</span>
          <span>Transformar</span>
          <span>Vender</span>
        </div>

        <div class="about-2 section">
          <div class="about-2__img">
            <img src="/assets/iconos/elementos-16.svg" alt="cmyk_img">
          </div>
          <p class="about-2__info">

          </p>
        </div>


        <div class="portafolio">
          <div class="portafolio__title section"><h2>portafolio</h2></div>
          <div class="grid">
            <div class="grid__mas"><img src="/assets/icono-mas.svg"></div>
            <div class="grid__row">
              <div class="grid__item1"><img onclick="openModal('/assets/chicas/foto-01.png');" src="/assets/chicas/foto-01.png"></div>
              <div class="grid__item1"><img onclick="openModal('/assets/chicas/foto-02.png');" src="/assets/chicas/foto-02.png"></div>
              <div class="grid__item1"><img onclick="openModal('/assets/chicas/foto-03.png');" src="/assets/chicas/foto-03.png"></div>
            </div>
            <div class="grid__row">
              <div class="grid__item1"><img onclick="openModal('/assets/chicas/foto-04.png');" src="/assets/chicas/foto-04.png"></div>
              <div class="grid__item2"><img onclick="openModal('/assets/chicas/foto-05.png');" src="/assets/chicas/foto-05.png"></div>
            </div>
            <div class="grid__row-col">
              <div class="grid__col">
                <div class="grid__item2"><img onclick="openModal('/assets/chicas/foto-06.png');" src="/assets/chicas/foto-06.png"></div>
                <div class="grid__item1"><img onclick="openModal('/assets/chicas/foto-09.png');" src="/assets/chicas/foto-09.png"></div>
              </div>
              <div class="grid__col">
                <div class="grid__item1"><img onclick="openModal('/assets/chicas/foto-07.png');" src="/assets/chicas/foto-07.png"></div>
                <div class="grid__item2"><img onclick="openModal('/assets/chicas/foto-10.png');" src="/assets/chicas/foto-10.png"></div>
              </div>
              <div class="grid__col">
                <div class="grid__item1"><img onclick="openModal('/assets/chicas/foto-08.png');" src="/assets/chicas/foto-08.png"></div>
                <div class="grid__item1"><img onclick="openModal('/assets/chicas/foto-11.png');" src="/assets/chicas/foto-11.png"></div>
                <div class="grid__item1"><img onclick="openModal('/assets/chicas/foto-14.png');" src="/assets/chicas/foto-14.png"></div>
              </div>
            </div>
            <div class="grid__row">
              <div class="grid__item1"><img onclick="openModal('/assets/chicas/foto-12.png');" src="/assets/chicas/foto-12.png"></div>
              <div class="grid__item2"><img onclick="openModal('/assets/chicas/foto-13.png');" src="/assets/chicas/foto-13.png"></div>
            </div>
            <div class="grid__row">
              <div class="grid__item1"><img onclick="openModal('/assets/chicas/foto-15.png');" src="/assets/chicas/foto-15.png"></div>
              <div class="grid__item1"><img onclick="openModal('/assets/chicas/foto-16.png');" src="/assets/chicas/foto-16.png"></div>
              <div class="grid__item1"><img onclick="openModal('/assets/chicas/foto-17.png');" src="/assets/chicas/foto-17.png"></div>
            </div>
          </div>
        </div>
        <!-- MODAL view -->
        
        <div class="modal" id="modal">
          <span id="modal__close" class="modal__close" onclick="document.getElementById('modal').style.display='none'">&times</span>
          <img id="modal__content" class="modal__content">
          <div id="modal__caption" class="modal__caption">Descripcion</div>
        </div>

        <div class="form section">
          <form action="">
            <div class="form__label"><h2>Contacto</h2></div>
            <div class="form__row">
              <input placeholder="Nombre" class="form__caja" type="text">
              <input placeholder="Celular" class="form__caja" type="text">
              <input placeholder="Email" class="form__caja" type="text">
            </div>
            <div class="form__row">
              <textarea placeholder="Mensaje" class="form__caja" name="mensaje" id="mensaje" cols="30" rows="10"></textarea>
            </div>
            <div class="form__submit">
              <a href="mailto:escribenos@shopdesing.com">escribenos@shopdesing.com</a>
              <input type="submit" name="Enviar">
            </div>
          </form>
        </div>

        <div class="map">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3901.651346007176!2d-76.9538923855868!3d-12.067492891453508!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9105c6ee33f61e47%3A0xc4d6297cd32a42d!2sLos+Electronicos+206%2C+Distrito+de+Lima+15012!5e0!3m2!1ses!2spe!4v1475639620991" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

        <footer class="footer">
          <div class="footer__logo">
            <img src="/assets/logo.png" alt="Logo ShopDesign">
          </div>
          <a href="mailto:comprar@shopdesign.com">comprar@shopdesign.com</a>
          <div class="footer__contact">
            <div class="address--footer"><span>Calle Los Electrónicos 206<br>La Molina - Lima - Perú</span></div>
            <div class="phone--footer"><span>999 449 192</span></div>
          </div>
        </footer>

        <div class="copy section">
          <span>shopdesign 2016 / Perú</span>
        </div>

        <!--end-BODY-->

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="https://use.fontawesome.com/41cacd161c.js"></script>
        <script src="/js/main.js"></script>

        <!-- Google Analytics-->
        <!-- End Google Analytics-->
    </body>
</html>
